.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1200px;
  align-items: center;
  gap: 20px;
}

.text {
  font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
  font-size: 20px;
  color: white;
}

.title {
  font-size: 52px;
  font-family: 'Inter';
  font-weight: 900;
  text-transform: uppercase;
  background-image: radial-gradient(circle,
    #e74c3c 0%,
    #e67e22 29%,
    #f1c40f 67%,
    #2ecc71 100%);
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
}

.subtitle {
  max-width: 500px;
  text-align: left;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}